<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <div th:replace="~{fragments :: header}"></div>
    <div th:replace="~{fragments :: sidebar}"></div>
    <div>
        <table  th:each="shot: ${shots}">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Dosage</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td th:text="${shot.name}"></td>
                <td th:text="${shot.date}"></td>
                <td th:text="${shot.dosage}"></td>
                <td th:text="${shot.notes}"></td>
            </tr>
        </table>
    </div>
    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>