<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div th:replace="~{fragments :: sidebar}"></div>
<div>
    <form method="POST">
        <div class="buttons">
            <div class="left">
                <input type="submit" name="addAnother">Add Another</button>
            </div>
            <div class="right">
                <input type="submit" name="save">Save</button>
            </div>
        </div>
        <table>
            <tr>
                <table>
                    <tr>
                        <th>
                            <label for="firstName">First Name</label>
                        </th>
                        <th>
                            <label for="lastName">Last Name</label>
                        </th>
                        <th>
                            <label for="address">Address</label>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="firstName" size="33" placeholder="First Name" th:field="${provider.firstName}" />
                        </td>
                        <td>
                            <input type="text" id="lastName" size="33" placeholder="Last Name" th:field="${provider.lastName}" />
                        </td>
                        <td>
                            <input type="text" id="address" size="33" placeholder="Address" th:field="${provider.address}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="phone">Phone Number</label>
                        </th>
                        <th>
                            <label for="fax">Fax Number</label>
                        </th>
                        <th>
                            <label for="specialty">Provider Specialty</label>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="phone" size="33" placeholder="Phone Number" th:field="${provider.phone}" />
                        </td>
                        <td>
                            <input type="text" id="fax" size="33" placeholder="Fax Number" th:field="${provider.fax}" />
                        </td>
                        <td>
                            <input type="text" id="specialty" size="33" placeholder="Provider Specialty" th:field="${provider.specialty}" />
                        </td>
                    </tr>
                </table>
            </tr>
            <tr>
                <table>
                    <tr>
                        <th>
                            <label for="notes">Notes</label>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="notes" size="110" placeholder="Notes" th:field="${provider.notes}" />
                        </td>
                    </tr>
                </table>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
