<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div th:replace="~{fragments :: sidebar}"></div>
<div>
    <table th:each="provider : ${providers}">
        <tr>
            <th>Name</th>
            <th>Specialty</th>
        </tr>
        <tr>
            <td th:text="${provider.firstName} + ' ' + ${provider.lastName}"></td>
            <td th:text="${provider.specialty}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        <tr>
            <td th:text="${provider.address}"></td>
            <td th:text="${provider.phone}"></td>
        </tr>
        <tr>
            <th>Notes</th>
        </tr>
        <tr>
            <td th:text="${provider.notes}"></td>
        </tr>
    </table>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
