<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="~{fragments :: head}"></head>
    <body>
        <header th:replace="~{fragments :: header}"></header>
        <div th:replace="~{fragments :: sidebar}"></div>
        <div>
            <h3>Demographics Data</h3>
            <table>
                <tr>
                    <th style="text-align: right">Name: </th>
                        <td th:text="${user.getFirstName()} + ' ' ${user.getLastName()}">FirstName LastName</td>
                </tr>
                <tr>
                    <th style="text-align: right">Date of Birth: </th>
                        <td th:text="${user.getDob()}">MM/DD/YYY</td>
                </tr>
                <tr>
                    <th style="text-align: right">Address: </th>
                        <td th:text="${user.getAddress()}">123 Street, City, ST zipcode</td>
                </tr>
                <tr>
                    <th style="text-align: right">Email: </th>
                        <td th:text="${user.getEmail()}">email@website.com</td>
                <tr>
                    <th style="text-align: right">Phone Number: </th>
                    <td th:text="${user.getPhoneNumber()}">123-456-7890</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Notes</h3>
            <form action="POST">
                <table>
                    <tr>
                        <td style="text-align: left; width: 175px">
                            <input type="submit" name="addAnother" value="Add Another" />
                        </td>
                        <td style="text-align: right; width: 175px">
                            <input type="submit" name="save" value="Save" />
                        </td>
                    </tr>
                </table>
<!--                <input type="hidden" th:field="${user.id}" value="3">-->
                <label th:for="content">Add Your Note:</label><br>
                <textarea th:field="${note.contents}" rows="4" cols="50"></textarea>
            </form>
            <table class="zebra">
                <tr th:each="note : ${notes}">
                    <table>
                        <tr>
                                    <td th:text="${note.date}">date & time</td>
                        </tr>
                        <tr>
                                    <td th:text="${note.contents}">content</td>
                        </tr>
                    </table>
                </tr>
            </table>
         </div>
        <footer th:replace="~{fragments :: footer}"></footer>
    </body>
</html>