<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="~{fragments :: head}"></head>
    <body>
        <header th:replace="~{fragments :: header}"></header>
        <div th:replace="~{fragments :: sidebar}"></div>
        <div>
            <h3>Demographics Data</h3>
            <table>
                <tr>
                    <th style="text-align: right">Name: </th><td th:text="${user.getFirstName() + ' ' + user.getLastName()}">FirstName LastName</td>
                </tr>
                <tr>
                    <th style="text-align: right">Date of Birth: </th><td th:text="${user.getDob()}">MM/DD/YYY</td>
                </tr>
                <tr>
                    <th style="text-align: right">Address: </th><td th:text="${user.getAddress()}">123 Street, City, ST zipcode</td>
                </tr>
                <tr>
                    <th style="text-align: right">Email: </th><td th:text="${user.getEmail()}">email@website.com</td>
                <tr>
                    <th style="text-align: right">Phone Number: </th><td th:text="${user.getPhone()}">123-456-7890</td>
                </tr>
            </table>
        </div>
<!--        <div>-->
<!--            <h3>Notes</h3>-->
<!--&lt;!&ndash;            <a th:href="@{/user/addNote}"><button>Add Note</button></a>&ndash;&gt;-->
<!--            <table class="zebra">-->
<!--                <tr th:each="note : ${notes}">-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td th:text="${note.date}">date & time</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td th:text="${note.contents}">content</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </tr>-->
<!--            </table>-->
<!--&lt;!&ndash;            <a href="../notes/edit.html"><button>Edit Note</button></a>&ndash;&gt;-->
<!--        </div>-->
        <footer th:replace="~{fragments :: footer}"></footer>
    </body>
</html>
