<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org/">
    <head th:replace="~{fragments :: head}">
    </head>
    <body>
        <header th:replace="~{fragments :: header}"></header>
        <div th:replace="~{fragments :: sidebar}"></div>
        <div>
            <p th:text="${message}"></p>
            <form method="POST" th:object="${user}">
                <table>
                    <tr>
                        <th>
                            <label th:for="first_name">First Name: </label>
                        </th>
                        <td>
                            <input type="text" id="first_name" placeholder="First name" th:field="*{firstName}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label th:for="last_name">Last Name: </label>
                        </th>
                        <td>
                            <input type="text" id="last_name" placeholder="Last name" th:field="*{lastName}" />
                        </td>
                    </tr>
                    <tr>
                         <th>
                            <label th:for="email">Email: </label>
                         </th>
                        </td>
                        <td>
                            <input type="email" id="email" placeholder="Enter email" th:field="*{email}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label th:for="password">Password: </label>
                        </th>
                        <td>
                            <input type="password" id="password" placeholder="Enter Password" th:field="*{password}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label th:for="verifyPassword">Verify Password: </label>
                        </th>
                        <td>
                            <input type="password" id="verifyPassword" placeholder="Verify Password" th:field="*{verifyPassword}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label th:for="address">Address: </label>
                        </th>
                        <td>
                            <input type="text" id="address" placeholder="Enter address" th:field="*{address}">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label th:for="dob">DOB: </label>
                        </th>
                        <td>
                            <input type="date" id="dob" placeholder="MM/DD/YYYY" th:field="*{dob}">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label th:for="phone">Phone: </label>
                        </th>
                        <td>
                            <input type="text" id="phone" placeholder="Enter Phone Number" th:field="*{phone}">
                        </td>
                    </tr>
                </table>
                <button th:action="register" value="Create Account">Create Account</button>
            </form>
            <p>Already registered? Click <a th:href="@{/}">here</a> to login.</p>
        </div>
        <footer th:replace="~{fragments :: footer}"></footer>
    </body>
</html>
