body {
    font-family: Poppins, cursive, sans-serif;
}

header {
    margin: 0;
    padding: 0;
}

  table th {
    text-align: right;
  }

  td h1 {
  vertical-align: bottom;
  }

  td h2 {
    vertical-align: top;
  }