body {
    font-family: Poppins, sans-serif;
}

header {
    margin: 0;
    padding: 0;
}

  table th {
    text-align: right;
  }

footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}