<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="~{fragments :: head}"></head>
    <body>
        <div th:replace="~{fragments :: header}"></div>
        <div th:replace="~{fragments :: sidebar}"></div>
        <div>
            <h3>Demographics Data</h3>
            <table>
                    <tr>
                        <th style="text-align: right">Name: </th>
                        <td th:text="${${user.firstName} + ' ' + ${user.lastName}}">FirstName LastName</td>
                    </tr>
                    <tr>
                        <th style="text-align: right">Date of Birth: </th>
                        <td th:text="${user.dob}">MM/DD/YYYY</td>
                    </tr>
                    <tr>
                        <th style="text-align: right">Address: </th>
                        <td th:text="${user.address}">123 Street, City, ST zipcode</td>
                    </tr>
                    <tr>
                        <th style="text-align: right">Email: </th>
                        <td th:text="${user.email}">email@website.com</td>
                    <tr>
                        <th style="text-align: right">Phone Number: </th>
                        <td th:text="${user.phone}">123-456-7890</td>
                    </tr>
                </table>
        </div>
        <div>
            <h3>Notes</h3>
            <table class="zebra">
                <tr th:each="note : ${notes}">
                    <form method="post">
                        <table>
                            <tr>
                                <td th:text="${note.date}">date & time</td>
                            </tr>
                            <tr>
                                <td>
                                    <label th:for="content" >Note: </label>
                                    <textarea rows="10" cols="50" th:field="${note.content}" th:value="${note.content}"></textarea>
                                </td>
                            </tr>
                        </table>
                        <input type="submit" value="Save All Notes" />
                    </form>
                </tr>
            </table>
        </div>
        <footer th:replace="~{fragments :: footer}"></footer>
    </body>
</html>
