<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome to your Dashboard!</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="~{fragments :: header}"></div>
        <div class="inline-block">
            <div th:replace="~{fragments :: sidebar}"></div>
            <div>
                <h3>Demographics Data</h3>
                <table>
                        <tr>
                            <th style="text-align: right">Name: </th><td th:text="${user.getFirstName()} + ' ' ${user.getLastName()}">FirstName LastName</td>
                        </tr>
                        <tr>
                            <th style="text-align: right">Date of Birth: </th><td th:text="${user.getDob()}">MM/DD/YYY</td>
                        </tr>
                        <tr>
                            <th style="text-align: right">Address: </th><td th:text="${user.getAddress()}">123 Street, City, ST zipcode</td>
                        </tr>
                        <tr>
                            <th style="text-align: right">Email: </th><td th:text="${user.getEmail()}">email@website.com</td>
                        <tr>
                        <th style="text-align: right">Phone Number: </th><td th:text="${user.getPhoneNumber()}">123-456-7890</td>
                        </tr>
                    </table>
            </div>
            <div>
                <h3>Notes</h3>
                <table class="zebra">
                    <tr th:each="note : ${notes}">
                        <form method="post">
                            <div>
                                <table>
                                    <tr>
                                        <td th:text="${note.date}">date & time</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label th:for="content" th:field="${note.content}">Note: </label>
                                            <textarea rows="25" cols="50"></textarea>
                                        </td>
                                    </tr>
                                </table>
                                <input type="submit" value="Save All Notes" />
                            </div>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
