<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="~{fragments :: head}"></head>
    <body>
        <header th:replace="~{fragments :: header}"></header>
        <div style="width: 20%"th:replace="~{fragments :: sidebar}"></div>
        <div style="width: 40%">
            Health eHub is a universal health record created for YOU! It's not a patient portal. It's not tied to a doctor's office or hospital. It's an app for you to gather all of <b>your</b> health information in one secure place, regardless of changing doctors, moving, or traveling.<br>
            Your health data is yours. And, we feel that you should have possession of it. Please login to the right to access your secure account.
        </div>
        <div style="text-align: center">
            <form method="post" action="login">
                <label th:for="username">Username: </label>
                <input type="text" placeholder="Email address" name="username"><br>
                <label th:for="password">Password: </label>
                <input type="password" placeholder="Enter Password" name="password"><br>
                Remember me?<br>
                <input type="checkbox" id="remember-me" name="remember-me" class="form-control" /><br>
                <button>Sign in</button>
            </form>
            <p>Not signed up yet? <a th:href="@{/user/registration}"><button>Register Here</button></a></p>
        </div>
        <footer th:replace="~{fragments :: footer}"></footer>
    </body>
</html>