<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>User Registration Form</title>
</head>
<body>
<div>
    <h1>User Registration Form</h1>
</div>
<div class="first_name">
    <label for="first_name" >
        First Name:
        <input placeholder="First name" id="first_name">
    </label>
</div>
<div class="last_name">
    <label   for="last_name" >
        Last Name:
        <input placeholder="Last name" id="last_name">
    </label>
</div>
<div class="email">
    <label for="email" >
        Email:
        <input placeholder="Enter email" id="email">
    </label>
</div>
<div class="password">
    <label   for="password" >
        Password:
        <input placeholder="Enter Password" id="password">
    </label>
<div class="verify_password" >
    <label for="verify_password">
        Verify Password:
        <input placeholder="Re-enter Password" id="verify_password">
    </label>
</div>
<div class="address">
    <label   for="address" >
        Address:
        <input placeholder="Enter address" id="address">
    </label>
</div>
<div class="dateOfBirth">
    <label   for="dateOfBirth" >
        DOB:
        <input placeholder="MM/DD/YYYY" id="dateOfBirth">
    </label>
</div>
<div class="phoneNumber">
    <label   for="phoneNumber" >
        Phone:
        <input placeholder="Enter Phone Number" id="phoneNumber">
    </label>
</div>
<div class ="button">
    <button>Create User</button>
</div>

</body>
</html>
