<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <title>User Registration Form</title>
        <link th:href="styles.css" rel="stylesheet" />
    </head>
    <body>
        <h1>User Registration Form</h1>
        <form method="post" th:object="${user}">
            <div>
                <label th:for="first_name">First Name: </label>
                <input type="text" name="first_name" placeholder="First name" th:field="*{firstName}" />
<!--            Removed until we implement Spring Security.
                <p th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>-->
            </div>
            <div>
                <label th:for="last_name">Last Name: </label>
                <input type="text" name="last_name" placeholder="Last name" th:field="*{lastName}" />
<!--            Removed until we implement Spring Security.
                <p th:each="error: ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>-->
            </div>
            <div>
                <label th:for="email">Email: </label>
                <input type="email" name="email" placeholder="Enter email" th:field="*{email}" />
<!--            Removed until we implement Spring Security.
                <p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>-->
            </div>
            <div>
                <label th:for="password">Password: </label>
                <input type="password" name="password" placeholder="Enter Password" th:field="*{password}" />
    <!--        Removed until we implement Spring Security.
                <p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>-->
            </div>
            <div>
                <label th:for="verifyPassword">Verify Password: </label>
                <input type="password" name="verifyPassword" placeholder="Verify Password" th:field="${user.verifyPassword}" />
            </div>
            <div>
                <label th:for="address">Address: </label>
                <input type="text" name="address" placeholder="Enter address" th:field="*{address}">
    <!--        Removed until we implement Spring Security.
                <p th:each="error: ${#fields.errors('address')}" th:text="${error}">Validation error</p>-->
            </div>
            <div>
                <label th:for="dob">DOB: </label>
                <input type="date" name="dob" placeholder="MM/DD/YYYY" th:field="*{dob}">
    <!--        Removed until we implement Spring Security.
                <p th:each="error: ${#fields.errors('dob')}" th:text="${error}">Validation error</p>-->
            </div>
            <div>
                <label th:for="phone">Phone: </label>
                <input type="text" name="phone" placeholder="Enter Phone Number" th:field="*{phone}">
    <!--            <p th:each="error: ${#fields.errors('phone')}" th:text="${error}">Validation error</p>-->
            </div>

            <button type="submit" value="Create User" th:text="#{label.form.submit}">Create Account</button>
        </form>
        <div>
            <p>Already registered? Click <a href="@{/index.html}">here</a> to login.</p>
        </div>
        <footer th:replace="~{fragments :: footer}"></footer>
    </body>
</html>
