<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div th:replace="~{fragments :: sidebar}"></div>
<div>
    <h3>Pharmacy</h3>
    <form>
        <input type="hidden" name="id" th:value="${pharmacy.id}" />
        <table>
            <tr>
                <th style="text-align: right"><label th:for="name">Pharmacy: </label></th>
                <td><input type="text" name="name" th:placeholder="${pharmacy.name}" th:field="${pharmacy.name}" /></td>
            </tr>
            <tr>
                <th style="text-align: right"><label th:for="address">Address: </label></th>
                <td><input type="text" th:placeholder="${pharmacy.address}" th:field="${pharmacy.address}" /></td>
            </tr>
            <tr>
                <th style="text-align: right"><label th:for="phone">Phone Number: </label></th>
                <td><input type="text" th:placeholder="${pharmacy.phone}" /></td>
            </tr>
            <tr>
                <th style="text-align: right"><label for="fax">Fax Number: </label></th>
                <td><input type="text" th:placeholder="${pharmacy.fax}" th:field=${pharmacy.fax}" /></td>
            </tr>        
        </table>
        <input type="submit" value="Save Pharmacy" />
    </form>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
