<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div th:replace="~{fragments :: sidebar}"></div>
<div>
    <a th:href="@{/pharmacy/add}"><button th:action="new">Create New Record</button></a>
    <table th:each="pharmacy : ${pharmacies}" class="zebra">
        <tr>
            <th>Pharmacy</th>
            <th>Address</th>
        </tr>
        <tr>
            <td th:text="${pharmacy.name}"></td>
            <td th:text="${pharmacy.address}"></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <th>Fax Number</th>
        </tr>
        <tr>
            <td th:text="${pharmacy.phone}"></td>
            <td th:text="${pharmacy.fax}"></td>
        </tr>
        <tr>
            <th>Notes</th>
        </tr>       
        <tr>
            <td th:text="${pharmacy.notes}"></td>
        </tr>
    </table>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
