<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div th:replace="~{fragments :: sidebar}"></div>
<div>
    <table>
        <tr>
            <th>Pharmacy</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Fax</th>
            <th>Notes</th>
        </tr>
        <tr>
            <th>Notes</th>
        </tr>
        <tr th:each="Pharmacy: ${pharmacy}">
            <td th:text="${pharmacy.name}"></td>
            <td th:text="${pharmacy.address}"></td>
        
            <td th:text="${pharmacy.phone}"></td>
            <td th:text="${pharmacy.fax}"></td>
        </tr>
        <tr>
            <td th:text="${pharmacy.notes}"></td>
        </tr>
    </table>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
