<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div th:replace="~{fragments :: sidebar}"></div>
    <div>
        <form method="POST">
            <button th:action="save">Save</button>
            <table>
                <tr>
                    <table>
                        <tr>
                            <th>
                                <label for="reason">Reason</label>
                            </th>
                            <th>
                                <label for="facility">Facility</label>
                            </th>
                            <th>
                                <label for="provider">Provider</label>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="reason" size="33" placeholder="Reason" />
                            </td>
                            <td>
                                <input type="text" id="facility" size="33" placeholder="Facility"/>
                            </td>
                            <td>
                                <input type="text" id="provider" size="33" placeholder="Provider" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="treatment">Treatment</label>
                            </th>
                            <th>
                                <label for="admitDate">Date of Admission</label>
                            </th>
                            <th>
                                <label for="dischargeDate">Date of Discharge</label>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="treatment" size="33" th:value="Treatment" />
                            </td>
                            <td>
                                <input type="date" id="admitDate" size="33" th:value="Date of Admission"/>
                            </td>
                            <td>
                                <input type="date" id="dischargeDate" size="33" th:value="Date of Discharge" />
                            </td>
                        </tr>
                    </table>
                </tr>
                <tr>
                    <table>
                        <tr>
                            <th>
                                <label for="notes">Notes</label>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="notes" size="110" placeholder="Notes" />
                            </td>
                        </tr>
                    </table>
                </tr>
            </table>
        </form>
    </div>
    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>