<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="~{fragments :: head}"></head>
    <body>
        <header th:replace="~{fragments :: header}"></header>
        <div th:replace="~{fragments :: sidebar}"></div>
        <div>
            <a th:href="@{/hospitalization/add}"><button th:action="new">Create New Record</button></a>
            <table th:each="hospitalization: ${hospitalizations}" class="zebra">
                <tr>
                    <th>Reason</th>
                    <th>Facility</th>
                    <th>Treatment</th>
                </tr>
                <tr>
                    <td th:text="${hospitalization.reason}"></td>
                    <td th:text="${hospitalization.facility}"></td>
                    <td th:text="${hospitalization.treatment}"></td>
                </tr>
                <tr>
                    <th>Admission Date</th>
                    <th>Discharge Date</th>
                    <th>Notes</th>
                </tr>
                <tr>
                    <td th:text="${hospitalization.dateOfAdmission}"></td>
                    <td th:text="${hospitalization.dateOfDischarge}"></td>
                    <td th:text="${hospitalization.notes}"></td>
                </tr>
            </table>
        </div>
        <footer th:replace="~{fragments :: footer}"></footer>
    </body>
</html>
